
body{
  background-color:#1A336F;
  margin: 0px;
}

.about-wrapper{
  padding-bottom: 40px;
  width:1150px;
  margin:0px auto;
  position:relative;
}

.about-wrapper-background{
  position:relative;
}

.img-text-left{
  width: 575px;
  position:absolute;
  top:0;
  display:flex;
  align-items: center;
  height: 100%;
  left:0;
}

.img-text-right{
  width: 525px;
  color:white;
  position:absolute;
  top:0;
  display:flex;
  align-items: center;
  height: 100%;
  right: 0;
}

.aboutlogo{
  padding-left:35px;
}

.abouttext{
  padding-right:35px;
}

/* /////// SERVICE /////////// */

.servicescontent{
  padding-bottom: 40px;
  width: 1150px;
  margin: 0px auto;
}

.title-wrapper{
  padding-top: 20px;
  padding-bottom: 10px;
}

.title-wrapper2{
  background: white;
}

.pagetitle{
  width:95%;
  margin: 0px auto;
  color: #1A336F;
  font-size: 2.5vw;
  text-align: center;
}

.pageintro{
  width:95%;
  margin: 0px auto;
  color: #1A336F;
  text-align: center;
  font-size: 1.5vw;
  padding-bottom: 5px;
}

.services-items-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.service-item-wrapper{
  position: relative;
}

.service-img-background{
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.names{
  position: absolute;
  top: 0;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  color: white;                     /*choose correct colour*/
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #1A336F;
  font-size: 1.5vw;
  font-weight: bold;
  transition: 1s;
}

.names a{
  color: white;                     /*choose correct colour*/
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #1A336F;
}

.names:hover{
  color: lightblue;
}

.names a:hover{
  color: lightblue;
  text-decoration: none;
}


.img-darken {
  transition: 0.5s;
  filter: brightness(40%);
}
.textwrap{
  width: 50%;
  float: right;
  margin: 20px;
}

/* ////////INDIVIDUAL SERVICE ///// */

.servicecontent{
  padding-bottom: 40px;
  width: 1150px;
  margin: 0px auto;
}

.servicetitle-wrapper{
  padding-top: 20px;
  padding-bottom: 10px;
}

.servicetitle-wrapper2{
  background: white;
}

.servicepagetitle{
  width:95%;
  margin: 0px auto;
  color: #1A336F;
  font-size: 2.5vw;
  text-align: center;
}

.servicepage{
  width:95%;
  margin: 0px auto;
  color: #1A336F;
  text-align: justify;
  font-size: 1.5vw;
  padding-bottom: 5px;
}

.servicepage h2{
  text-align: center;
  width:95%;
  margin: 0px auto;
  color: #1A336F;
  font-size: 1.5vw;
  padding-bottom: 5px;
  font-weight: normal;
}

.half-half{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 10px;
}

.left{
  width: 95%;
  margin: auto;
}

.right ul{
  font-size: 1.2vw;
}
.right p{
  text-align: center;
}
.object-wrapper{
  width: 80%;
  margin: auto;
}
object{
  width: 100%;
  height:300px;
}
.empty{
  width: 80%;
  margin: auto;
  padding-bottom: 10px;
}


/* /////// PEOPLE /////////// */

.peoplecontent{
  padding-bottom: 40px;
  width: 1150px;
  margin: 0px auto;
}
.peoplecontentsstyling{
  width: 100%;
  margin: 0px auto;
  background: white;
}

.people-title-wrapper{
  padding-top: 20px;
  padding-bottom: 10px;
}

.people-title-wrapper2{
  background: white;
}

.people-pagetitle{
  width:95%;
  margin: 0px auto;
  color: #1A336F;
  font-size: 2.5vw;
  text-align: center;
}

.people-pageintro{
  width:95%;
  margin: 0px auto;
  color: #1A336F;
  text-align: center;
  font-size: 1.5vw;
  padding-bottom: 5px;
  background: white;
}

.allpeople-wrapper{
  padding-top: 10px;
  padding-bottom: 30px;
  background: white;
}

.people-wrapper2{
  padding-top: 15px;
  padding-bottom: 15px;
}

.people-wrapper{
  width:1000px;
  margin:0px auto;
  position:relative;

}

.people-wrapper-background{
  width:1000px;
  margin:0px auto;
  position:relative;
  align-items: center;
}

.img-right{
  width: 30%;
  position:absolute;
  top:0;
  display:flex;
  align-items:center;
  height: 100%;
  right:0;
}

.size{
  padding-left:35px;
  width: 260px;
  height:100%;
  align-items: center;
  padding-top: 25px;
}
.text-left{
  color: white;
  width: 70%;
  position:absolute;
  top:0;
  display:flex;
  align-items: center;
  height: 100%;
  left: 0;
}

.peopletext{
  width: 95%;
  margin:0px auto;
  text-align: center;
}

.peopletext h1{
  font-size: 2vw;
}
.peopletext p{
  margin: 0px;
  font-size: 1.5vw;
}

/* /////// REVIEWS /////////// */

  .reviewscontent{
    padding-bottom: 40px;
    width: 1150px;
    margin: 0px auto;
  }
  .reviewstitle-wrapper{
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .reviewstitle-wrapper2{
    background: white;
  }

  .reviewspagetitle{
    width:95%;
    margin: 0px auto;
    color: #1A336F;
    font-size: 2.5vw;
    text-align: center;
  }
  .reviewspageintro{
    width:95%;
    margin: 0px auto;
    color: #1A336F;
    text-align: center;
    font-size: 1.5vw;
    padding-bottom: 5px;
    background: white;
  }

/* /////// CONTACT US /////////// */
.contactcontent-wrapper{
  width: 1150px;
  padding-bottom: 20px;
  margin: 0px auto;
}
.contactcontentone-wrapper{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
}
.contactcontentone{
  background: white;
}
.contacttitle{
  font-size: 2.5vw;
  text-align: center;
  color: #1A336F;
}
.contactintro{
  font-size: 1.5vw;
  text-align: center;
  color: #1A336F;
  width: 95%;
  margin: 0px auto;
}
.contactcontenttwo-wrapper{
  color: #1A336F;
  width: 100%;
  padding-top: 10px;
}
.contactcontenttwo{
  background: white;
}
iframe{
  width:500px;
  height:450px;
}
.location{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
}
.locationleft{
  margin: 0px auto;
}
.locationright{
  /* margin: 0px auto; */
  text-align: center;
  padding-top: 100px;
}
.contactsubtitle{
  font-size: 1.7vw;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: center;
}
.table-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
}
table{
  margin: auto;
}
th{
  text-align: center;
}
td{
  text-align: center;
}
.facebook{
  width: 200px;
  margin: auto;
}
.facebook img{
  width: 200px;
}
.details{
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
}

h5{
  text-align: center;
}

@media screen and (max-width:1150px){

    /* /////// FRONT PAGE /////////// */

    .about-wrapper{
      width: 100%;
    }
    .img-text-left{
      width: 47%;
    }
    .img-text-right{
      width: 45%;
    }

    /* /////// SERVICE /////////// */

    .servicescontent{
      width: 100%;
    }
    .names{
      font-size: 2vw;
      padding-left: 75px;
      padding-right: 75px;
    }
    .service-img-background{
      height: 250px;
    }
    .pagetitle{
      font-size: 3vw;
    }
    .pageintro{
      font-size:2vw;
    }

    /* ////////INDIVIDUAL SERVICE ///// */

    .servicecontent{
      width: 100%;
    }

    /* /////// PEOPLE /////////// */

    .people-pagetitle{
      font-size: 3vw;
    }
    .people-pageintro{
      font-size:2vw;
    }
    .peoplecontent{
      width: 100%;
    }
    /* .people-wrapper2{
      padding-bottom: 20px;
    } */

    .people-wrapper{
      width:100%;
    }
    .people-wrapper-background{
      width:95%;
    }
    .img-right{
      padding-right: 30px;
      padding-top: 0px;
    }
    .peopletext h1{
      font-size: 2.6vw;
    }
    .peopletext p{
      margin: 0px;
      font-size: 2vw;
    }
    .size{
      /* padding-top: 18px; */
      padding-left:35px;
      width: 250px;
    }

    /* /////// REVIEWS /////////// */

    .reviewscontent{
      width: 100%;
    }

    /* /////// CONTACT US /////////// */
    .contactcontent-wrapper{
      width: 100%;
    }
}

@media screen and (max-width:1000px){
  /* change nav bar to drop down */
  .size{
    padding-top: 15px;
    padding-left:35px;
    width: 240px;
  }
  .people-wrapper2{
    padding-top: 10px;
    padding-bottom: 10px;
  }

}

@media screen and (max-width:700px){
  /* making the about content one on top of the other */

  /* /////// FRONT PAGE /////////// */

  .img-text-left{
    width: 90%;
    align-items: flex-start;
    padding-top: 25%;
  }
  .img-text-right{
    width: 80%;
    position: relative;
    margin:0px auto;
  }
  .abouttext{
    padding-right:0px;
  }

  /* /////// SERVICE /////////// */

  .services-items-wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .service-img-background{
    height: 200px;
  }
  .names{
    font-size: 3vw;
    padding-left: 50px;
    padding-right: 50px;
  }
  .pagetitle{
    font-size: 4vw;
  }
  .pageintro{
    font-size:3vw;
  }

/* ////////INDIVIDUAL SERVICE ///// */

  .servicetitle-wrapper{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .servicepagetitle{
    font-size: 4vw;
  }
  .servicepage{
    font-size: 2.5vw;
  }
  .servicepage h2{
    font-size: 2.5vw;
    padding-bottom: 5px;
  }
  .half-half{
    grid-template-columns: 1fr;
    padding-bottom: 5px;
  }
  .left{
    width: 80%;
    margin: auto;
  }
  .right{
    padding-top: 5px;
  }
  .right p{
    text-align: center;
    margin:2px;
  }
  .right ul{
    margin:5px;
    font-size: 2vw;
  }
  .empty{
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
  }
  object{
    height:150px;
  }

  /* /////// PEOPLE /////////// */

  .people-pagetitle{
    font-size: 4vw;
  }
  .people-pageintro{
    font-size:3vw;
  }
  .people-wrapper2{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .size{
    padding-top: 10px;
    padding-left:20px;
    width: 220px;
  }
  .peopletext h1{
    font-size: 3.5vw;
  }
  .peopletext p{
    margin: 0px;
    font-size: 2vw;
  }

  /* /////// REVIEWS /////////// */

  .reviewstitle-wrapper{
    padding-top: 10px;
  }
  .reviewstitle-wrapper2{
    background: white;
  }
  .reviewspagetitle{
    font-size: 4vw;
  }
  .reviewspageintro{
    font-size: 3vw;
  }
  /* /////// CONTACT US /////////// */

  .contactcontentone-wrapper{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .contactcontentone{
    background: white;
  }
  .contacttitle{
    font-size: 4vw;
  }
  .contactintro{
    font-size:3vw;
  }
  .contactcontenttwo-wrapper{
    padding-top: 10px;
  }
  iframe{
    width:100%;
    height:100%;
  }
  .location{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
  }
  .locationright{
    padding-top: 10px;
  }
  .contactsubtitle{
    font-size: 3.5vw;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .table-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }
  table{
    margin: auto;
  }
  th{
    text-align: center;
  }
  td{
    text-align: center;
  }
  .facebook{
    width: 200px;
    margin: auto;
  }
  .facebook img{
    width: 200px;
  }
  .details{
     display: grid;
     grid-template-columns: 1fr 1fr;
  }

  h5{
    text-align: center;
    font-size: 3vw;
  }
}

@media screen and (max-width:600px){
  /* change nav bar to drop down */
  .size{
    padding-top: 10px;
    padding-left:20px;
    width: 250px;
  }
  .people-wrapper2{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width:520px){
  /* change nav bar to drop down */
  .size{
    padding-top: 15px;
    padding-left:10px;
    width: 260px;
  }
  .people-wrapper2{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width:360px){
  /* minimum screen size */
  .navbar{
    padding: 20px;
  }
  .navbar > .alllinks > div{
      margin-right:10px;
      font-size:10px;
      text-transform: uppercase;
  }
  .link{
      height: 15px;
  }
  .logo{
    width:30%;
    height: 30px;
  }
  .about-wrapper{
    width: 360px;
  }
  .img-text-left{
    width: 320px;
    align-items: flex-start;
    padding-top: 25%;
  }
  .aboutlogo{
    padding-left: 0px;
    margin: 0px auto;
  }
  .img-text-right{
    width: 280px;
    position: relative;
    margin:0px auto;
  }
  .abouttext{
    padding-right:0;
  }
}
}
