
body{
  background-color:#1A336F;
  margin: 0px;
}

.navbar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding:38px;
}

.logo{
  width:30%;
}

.alllinks{
  display: flex;
}

.navbar > .alllinks > div{
    margin-right:20px;
    font-size:1.5vw;
    text-transform: uppercase;
}

.link{
    height: 22px;
}

.about-wrapper{
  width:1150px;
  margin:0px auto;
  position:relative;
}

.about-wrapper-background{
  position:relative;
}

.img-text-left{
  width: 575px;
  position:absolute;
  top:0;
  display:flex;
  align-items: center;
  height: 100%;
  left:0;
}

.img-text-right{
  width: 525px;
  color:white;
  position:absolute;
  top:0;
  display:flex;
  align-items: center;
  height: 100%;
  right: 0;
}

.aboutlogo{
  padding-left:35px;
}

.abouttext{
  padding-right:35px;
}

@media screen and (max-width:1150px){
  /* resizing background image and smaller images in about */
    .about-wrapper{
      width: 100%;
    }
    .img-text-left{
      width: 47%;
    }
    .img-text-right{
      width: 45%;
    }
    .navbar{
      padding: 30px;
    }
}

/* @media screen and (max-width:950px){
  /* change nav bar to drop down

} */

@media screen and (max-width:700px){
  /* making the about content one on top of the other */
  /* once it goes here the nav bar at the top doesnt work */
  .img-text-left{
    width: 90%;
    align-items: flex-start;
    padding-top: 25%;
  }
  .img-text-right{
    width: 80%;
    position: relative;
    margin:0px auto;
  }
  .navbar{
    padding: 20px;
  }
  .navbar > .alllinks > div{
      margin-right:10px;
      font-size:2vw;
      text-transform: uppercase;
  }
  .link{
      height: 15px;
  }
  .abouttext{
  padding-right:0px;
}
}

@media screen and (max-width:300px){
  /* minimum screen size */
  .about-wrapper{
    width: 300px;
  }
  .img-text-left{
    position: absolute;
    top:30%;
    width: 90%;
    height: 500px;
    margin-top: -250px; /* Half the height */
    padding-left: 10%;
  }
  .aboutlogo{
    padding-left: 0px;
    margin: 0px auto;
  }
  .img-text-right{
    width: 80%;
    position: relative;
    margin:0px auto;
  }
  .abouttext{
    padding-right:0;
  }
}
}
